body{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 0;
}
a{
    text-decoration: none;
}
/*Notification*/
.notify{
    background-color: #1e1e1e;
    height: 59px;
}
.notify .title-notify{
    padding: 23px 0 28px;
    font-size: 10px;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 18px;
}
.close{
    top: 21px;
    right: 0;
    bottom: 26px
}
/*header*/
header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
header .name-brand{
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
/*banner*/
.banner{
    background-image: url('img/banner-1.jpg');
    background-color: #fff;
}
.set-banner{
    height: 500px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
/*product-selection*/
.product{
    padding-top: 43px;
}
.product .product-filter{
    padding:0 30px 0 0 !important;
}
.product .banner-sale{
    margin-bottom: 40px;
}
.product  .slide-product .slick-dotted{
    margin-bottom: 50px;
}
.product .product-filter .title{
    border-bottom: 1px solid #888;
    padding-bottom:  15px;
}
.product .product-filter .categories li{
    margin-top: 30px;
}
.product .product-filter .shop-by{
    margin-top: 55px;
}
.product .product-filter .shop-by li{
    margin-top: 30px;
}
.product .product-filter .color{
    margin-top: 44px;
}
.product .product-filter .color form{
    margin: 38px 0 44px 0;
}
.product .product-filter .size form{
    margin: 27px 0 43px 0;
}
.product .product-filter .size form .size-items{
    margin-right: 10px;
}
.product .list-product{
    padding: 0 0 0 10px !important;
}
/*slick*/
.slick-slide img{
    max-width: 100%;
    padding: 0 15px;
}
.slick-dots button{
    font-size: 0;
    height: 15px;
    width: 15px;
    border: none;
    outline: none;
    background-color: #888;
    border-radius: 50%;
}
.slick-dots .slick-active button{
    background-color: #000 !important;
}
.slick-dots li {
    display: inline-block;
    margin-right: 10px;
    
}
.slick-dots {
    position: absolute;
    left: 50%;
}
/*color*/
#Copperfield{
    background-image: url('img/Copperfield.png');
    background-size: cover;
}
#Lavender{
    background-image: url('img/Lavender.png');
}
#Viking{
    background-image: url('img/Viking.png');
}
#Cedar{
    background-image: url('img/Cedar.png');
}
#Mercury{
    background-image: url('img/Mercury.png');
}
#Viking2{
    background-image: url('img/Viking2.png');
}
#Black{
    background-image: url('img/Black.png');
}
#Mandy{
    background-image: url('img/Mandy.png');
}
.title-spring{
    left:20%
}
@media(max-width: 992px){
    .title-spring{
        left: 50%;
    }
}
/*footer*/
footer{
    padding-top: 70px;
    background-color: #161616;
}
footer .col{
    padding-right: 160px;
}
footer .divider{
    margin: 20px 0 30px 0;
    height: 1px;
    width: 55px;
    background-color: #fff;
}
footer .title-list{
    font-size: 14px;
    text-transform: uppercase;
}
footer .nav a{
    margin-bottom: 20px;
}
footer .registion{
    margin-bottom: 15px;
}
footer .social{
    margin-top: 30px;
}
footer .social a{
    margin-right: 15px;
    padding: 15px;
    background-color: #222222;
    border-radius: 50%;
}
footer .footer-bottom{
    padding: 27px 0;
}
footer .author{
    font-size: 12px;
}